
html {
    height: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#container {
	width: 100%;
	height: 100%;
    position: relative;
}

#conceptTextInput {
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

#conceptsDisplayElement {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
}

.relatedConceptsDisplayElement {
	height: 100%;
	width: 10%;
	display: flex;
	flex-direction: column;
}

.conceptDisplayElement {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	flex-direction: column;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 8px;
	overflow: hidden;
}

.conceptImageBox {
	width: 8vw; /* just a bit less than the width of the relatedConceptsDisplayElement column */
	height: 8vw; /* and keep it square */
	overflow: hidden;
	border-radius: 50%;	
	border-width: 0px;
	border-style: solid;

	display: flex;
	justify-content: center;
	align-items: center;
}

.conceptImage {
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

	

